/* Estilos del Body */
body {
    font-family: Arial, sans-serif;
    margin: 0; /*Esto hace que no tenga margenes*/
    /* padding: 0;  */
    background-color: #f4f4f4;
    color: #333;
}
/* Estilos del header */

header {
    background-color: #333;
    text-align: center; /*estilo de texto centrado*/
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* esto hace que todas las secciones que haga esten centradas */
.section {
    padding: 40px 20px;
    text-align: center;
}

.inicio h1 {
    margin-top: 0;
}

.proyectos .proyecto {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.redes a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #333;
}

.iconos-conocimientos {
    display: flex;
    justify-content: center; /* Centra las imágenes horizontalmente */
    flex-wrap: wrap; /* Permite que las imágenes se ajusten en varias líneas si es necesario */
    gap: 20px; /* Espaciado entre imágenes */
    margin-top: 20px;
}

/* Estilos del Formulario de Contacto */
.contacto form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
}

.contacto form label {
    display: block;
    margin-top: 10px;
}


.contacto form textarea {
    width: 100%;
    padding: 10px;
}

.contacto form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.contacto form button:hover {
    background-color: #555;
}
