/* Estilos del Body */
body {
    font-family: Arial, sans-serif;
    margin: 0; /*Esto hace que no tenga margenes*/
    background-color: #f4f4f4;
    color: #333;
}
/* Estilos del header */

header {
    background-color: #333;
    text-align: center; /*estilo de texto centrado*/
}

nav ul {
    margin: 0;
    padding: 0; /*padding son los espacios superiores e inferiores*/
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* esto hace que todas las secciones que haga esten centradas */
/* la notacion con punto me permite aplicarle el estilo a los bloques con class */
.section {
    padding: 40px 20px;
    text-align: center;
}

.inicio h1 {
    margin-top: 0;
}

.proyectos .proyecto {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.redes a {
    margin: 10px 0;
    color: #333;
}

/* Estilos del Formulario de Contacto */
.contacto form {
    max-width: 700px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
}

.contacto form label {
    display: block;
    margin-top: 10px;
}

/*se puede aplicar el mismo estilo agrupandolos con coma*/
.contacto form input, /*formate de los elementos impus*/
.contacto form textarea /*formate del cuadro de texto*/ {
    width: 100%;
    padding: 10px;
}

.contacto form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.contacto form button:hover {
    background-color: #555;
}
